/* Colors:
Charcoal  424651
Tangerine F7996E
Ash gray  B6C9BB
Indigo    9984D4
Violet    9F87AF
space     2D3047
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Righteous&family=Tsukimi+Rounded:wght@700&display=swap');

*
{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Righteous', cursive;
    font-family: 'Tsukimi Rounded', sans-serif; */
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 90px;
    background: linear-gradient(to top, #424651,  #2b2f3c);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 1px solid #F7996E;
}

body
{
    background-color: #424651;
}

.logo 
{
    color: white;
    user-select: none;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 3px solid #F7996E;
    border-right: 3px solid #F7996E;
    cursor: pointer;
    transition-duration: 0.4s;
}

.logo:hover
{
    padding-left: 40px;
    padding-right: 40px;
    border-left: 3px solid #B6C9BB;
    border-right: 3px solid #B6C9BB;
}

.navigation button
{
    background: none;
    border: 3px solid #F7996E;
    text-decoration: none;
    position: relative;
    padding: 16px;
    width: 160px;
    color: white;
    border-radius: 8px;
    margin-left: 60px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.navigation button span::after
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: 10px;
    top: 10;
    transition: 0.5s;
}

.navigation button:hover
{
    padding-right: 25px;
    color: #B6C9BB;
    border: 3px solid #B6C9BB;
}

.navigation button:hover span::after
{
    opacity: 1;
    right: 40px;
}

.profile
{
    display: flex;
    width: 100%;
    margin-top: 180px;
    border-bottom: 1px solid #F7996E;
}

.pic
{
    width: 30%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt
{
    padding: 70px;
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}

.txt h1
{
    font-size: 100px;
    display: block;
    font-family: 'Righteous', cursive;
    color: white;
}

.txt h3
{
    
    display: block;
    color: white;
}

img
{
    height: 70%;
    border-radius: 50%;
    transition: 0.5s;
}

img:hover
{
    height: 80%;
}

.CV
{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.education
{
    width: 80%;
    height: 200px;
    background-color: #B6C9BB;
    border-radius: 10px;
}

.experience
{
    width: 80%;
    height: 200px;
    background-color: #B6C9BB;
}

.mini
{
    width: 30px;
    font-size: 20px;
    border: none;
    background: none;
    text-decoration: none;
}